.product{
    display: flex;
  margin-right:  5px; 
  border: 1px solid lightgray; 
  padding-bottom: 5px;
}
.product-name{
    color: darkblue;
      
}
.btn-regular{
    color: ivory;
    background-color: goldenrod;
    border: 1px solid grey;
    border-radius: 5px;
    width: 130px;
    height: 25px;
}
.btn-regular:hover{
    background-color: gold;
    color:darkolivegreen;
}